@font-face {
    font-family: "DejaVu Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DejaVuSans.ttf");
    /* IE9 Compat Modes */
    src: local("DejaVu Sans"),
    local("DejaVu Sans"),
    url("../fonts/DejaVuSans.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/DejaVuSans-Bold.ttf");
    /* IE9 Compat Modes */
    src: local("DejaVu Sans Bold"),
    local("DejaVu Sans Bold"),
    url("../fonts/DejaVuSans-Bold.ttf") format("truetype");
}

div {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "DejaVu Sans", "Arial", "Helvetica", sans-serif, serif;
    font-size: 12px;
}

.pdf {
    padding: 16px;
}

.ticket {
    padding: 16px;
    border-radius: 4px;
    background: #f5f5f5;
}

.participants-block {
    margin: 20px 0;
}

.subtitle {
    font-family: "DejaVu Sans Bold", serif;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.header {
    display: block;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.app-logo {
    height: 70px;
    display: inline-block;
    margin-right: 20px;
    float: left;
}

.app-title {
    font-family: "DejaVu Sans Bold", serif;
    font-size: 24px;
    float: right;
    margin-top: 20px;
}

.field {
    display: block;
    margin: 10px 0;
}

.field-name {
    width: 200px;
    display: inline-block;
    padding-right: 20px;
    font-style: italic;
}

.field-value {
    display: inline-block;
    width: calc(100% - 220px);
}

.participants {
    display: block;
}

.participant {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    margin-bottom: 10px;
}

.participants .participant {
    margin-right: 20px;
}

.ticket-info {
    display: block;
    margin-bottom: 16px;
    height: 20px;
}

.ticket-info .status {
    float: left
}

.ticket-info .date {
    float: right
}

.comment {
    padding: 10px;
    margin-bottom: 16px;
    background: #efefef;
    border-radius: 6px;
    position: relative;
}

.comment-content {
    font-style: italic;
}

.comment-subtype {
    font-style: italic;
    margin-bottom: 6px;
}

.comment-author__name {
    font-family: "DejaVu Sans Bold", serif;
}

.gen {
    margin-top: 10px;
    padding: 10px;
    color: #666;
    text-align: center;
}

