@import "bootstrap";
@import "variables";

//https://github.com/valgeirb/vue3-popper/issues/69
.inline-block {
    margin: 0 !important;
    border: none !important;
    display: inherit !important;
}

div {
    box-sizing: border-box;
}


.bg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;

    &:after {
        width: 100%;
        height: 100vh;
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
}

.form-group {
    margin-bottom: 10px;

    .form-group-info {
        color: var(--bs-gray);
        font-size: var(--font-small);
        margin-bottom: 6px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    label {
        font-weight: bold;
        display: inline-block;
        margin: 5px 0 3px 0;
    }
}

.btn {
    .material-design-icon {
        position: relative;
        top: -2px;
        margin-right: 2px;
    }

    &.btn-sm {
        .material-design-icon {
            top: 0;
        }
    }
}

.btn-purple {
    color: var(--bs-white);
    background: var(--bs-purple);
    border-color: var(--bs-purple-hover);

    &:hover, &:focus {
        color: var(--bs-white);
        background: var(--bs-purple-darker);
        border-color: var(--bs-purple-darker-hover);
    }
}

.btn-orange {
    color: var(--bs-white);
    background: var(--bs-orange);
    border-color: var(--bs-orange-darker);

    &:hover, &:focus {
        color: var(--bs-white);
        background: var(--bs-orange-darker);
        border-color: var(--bs-orange-darker);
    }
}

.btn-transparent {
    color: var(--bs-black);
    background: none;
    border: none;

    &:hover, &:focus {
        background: var(--bs-light);
    }
}


.btn-icon {
    .material-design-icon {
        left: 0
    }
}

.form-check {
    margin-top: 6px;

    label {
        margin: 0;
        font-weight: normal;
    }
}


.multiselect-wrapper {
    min-height: calc(2 * var(--ms-border-width, 1px) + var(--ms-font-size, 1rem) * var(--ms-line-height, 1.175) + 2 * var(--ms-py, 0.5rem));
}

.multiselect {
    border-color: var(--bs-border-color);
    border-radius: var(--border-radius);
    min-height: calc(2 * var(--ms-border-width, 1px) + var(--ms-font-size, 1rem) * var(--ms-line-height, 1.175) + 2 * var(--ms-py, 0.5rem));

    &.is-active {
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

#app {
    position: relative;
    z-index: 10;
    height: 100vh;


    .popper {

        .list-group {
            border: none;
            position: relative;
            z-index: 10;
            cursor: pointer;

            a {
                color: inherit;
                text-decoration: none;
            }

            .list-group-item {
                border-left: none;
                border-right: none;

                &:hover {
                    background: var(--bs-light);
                }

                &:first-child {
                    border-top: none
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .material-design-icon {
                position: relative;
                top: -1px;
                margin-right: 4px;
            }
        }
    }

    .tickets-page {
        padding: var(--padding-box);
    }

}

/** TICKET STATUSES **/
.status_new {
    background: var(--ticket-color-new);
}

.status_in_work {
    background: var(--ticket-color-in-work);
}

.status_in-observing {
    background: var(--ticket-color-in-observing);
}

.status_waiting {
    background: var(--ticket-color-waiting);
}

.status_solved {
    background: var(--ticket-color-solved);
}

.status_closed {
    background: var(--ticket-color-closed);
}

.status_in_approval {
    background: var(--ticket-color-in-approval);
}

.status_approved {
    background: var(--ticket-color-approved);
}

#error {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .error-text {
        border-radius: var(--border-radius);
        background: var(--bs-white);
        padding: var(--padding-box);
        width: 60%;
        max-width: 560px;
        text-align: center;
        margin: 0 auto;
    }

    .error-title {
        text-align: center;
        font-size: 20px;
    }

    .error-description {
        font-style: italic;
        color: var(--bs-gray);
        text-align: center;
    }
}
