@import "bootstrap";
@import "variables";

div {
    box-sizing: border-box;
}

.bg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;

    &:after {
        width: 100%;
        height: 100vh;
        content: '';
        position: absolute;
        /*background: rgba(0, 0, 0, 0.3);*/
        z-index: 2;
    }
}

.form-group {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        font-weight: bold;
        display: inline-block;
        margin: 5px 0 3px 0;
    }
}

.btn .material-design-icon {
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.btn-purple {
    color: var(--bs-white);
    background: var(--bs-purple);
    border-color: var(--bs-purple-hover);

    &:hover, &:focus {
        color: var(--bs-white);
        background: var(--bs-purple-darker);
        border-color: var(--bs-purple-darker-hover);
    }
}

.form-check {
    margin-top: 6px;

    label {
        margin: 0;
        font-weight: normal;
    }
}

.multiselect {
    border-color: var(--bs-border-color);
    border-radius: var(--border-radius);

    &.is-active {
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

#app {
    position: relative;
    z-index: 10;
    height: 100vh;


    .popper {

        .list-group {
            border: none;
            position: relative;
            z-index: 10;
            cursor: pointer;

            a {
                color: inherit;
                text-decoration: none;
            }

            .list-group-item {
                border-left: none;
                border-right: none;

                &:hover {
                    background: var(--bs-light);
                }

                &:first-child {
                    border-top: none
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .material-design-icon {
                position: relative;
                top: -1px;
                margin-right: 4px;
            }
        }
    }

    .tickets-page {
        padding: var(--padding-box);
    }

}
