@use "variables";


.bg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;

    &:after {
        width: 100%;
        height: 100vh;
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
}


/** TICKET STATUSES **/
.status_new {
    background: var(--ticket-color-new);
}

.status_in_work {
    background: var(--ticket-color-in-work);
}

.status_in-observing {
    background: var(--ticket-color-in-observing);
}

.status_waiting {
    background: var(--ticket-color-waiting);
}

.status_solved {
    background: var(--ticket-color-solved);
}

.status_closed {
    background: var(--ticket-color-closed);
}

.status_in_approval {
    background: var(--ticket-color-in-approval);
}

.status_approved {
    background: var(--ticket-color-approved);
}

@media print {

    #app {
        height: auto !important
    }
}
