:root {
    --ticket-actions-heoght: 50px;
    --background-white: rgba(255, 255, 255, 1);
    --box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    --border-radius: 6px;
    --color-text: #323232;
    --header-height: 64px;
    --pagination-height: 56px;
    --color-hover-rgba-black: rgba(0, 0, 0, 0.03);
    --padding-box: 16px;
    --margin-negative: calc(-1 * var(--padding-box));
    --sidebar-width: 300px;
    --collapsed-width: 72px;
    --font-small: 12px;
    --font-medium: 14px;
    --transition-duration: 0.4s;
    --color-orange-opacity-20: rgba(253, 126, 20, 0.2);
    --color-orange-opacity-30: rgba(253, 126, 20, 0.3);
    --color-orange-opacity-70: rgba(253, 126, 20, 0.7);

    /** TICKET STATUSES **/
    --rgb-color-all: 13, 110, 253;
    --rgb-color-new: 13, 202, 240;
    --rgb-color-in-work: 111, 66, 193;
    --rgb-color-waiting: 253, 126, 20;
    --rgb-color-solved: 25, 135, 84;
    --rgb-color-closed: 220, 53, 69;
    --rgb-color-in-approval: 32, 201, 151;
    --rgb-color-approved: 13, 110, 253;
    --rgb-color-i-am-approval: 13, 110, 253;
    --rgb-color-in-observing: 255, 193, 7;
    --rgb-color-my: 102, 16, 242;

    --ticket-color-all: rgb(var(--rgb-color-all));
    --ticket-color-new: rgb(var(--rgb-color-new));
    --ticket-color-in-work: rgb(var(--rgb-color-in-work));
    --ticket-color-waiting: rgb(var(--rgb-color-waiting));
    --ticket-color-solved: rgb(var(--rgb-color-solved));
    --ticket-color-closed: rgb(var(--rgb-color-closed));
    --ticket-color-in-approval: rgb(var(--rgb-color-in-approval));
    --ticket-color-approved: rgb(var(--rgb-color-approved));
    --ticket-color-i-am-approval: rgb(var(--rgb-color-i-am-approvall));
    --ticket-color-in-observing: rgb(var(--rgb-color-in-observing));
    --ticket-color-my: rgb(var(--rgb-color-my));

    /** POPPER **/
    --popper-theme-background-color: var(--background-white);
    --popper-theme-background-color-hover: var(--background-white);
    --popper-theme-text-color: var(--color-text);
    --popper-theme-border-width: 1px;
    --popper-theme-border-style: solid;
    --popper-theme-border-color: var(--bs-border-color);
    --popper-theme-border-radius: var(--border-radius);
    --popper-theme-padding: 0;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
    --bs-purple-opacity: rgba(111, 66, 193, 0.8);


    /** BOOTSTRAP **/
    --bs-border-radius: var(--border-radius);
    --bs-blue: #2c4a98;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-purple-hover: #683db7;
    --bs-purple-darker: #683db7;
    --bs-purple-darker-hover: #5d32a9;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-orange-darker: #d2650b;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

}
